.messenger {
  height: calc(100vh - 70px);
  display: flex;
}

.chatMenu {
  flex: 3.5;
  border-right: 0.5px solid rgb(165, 164, 164);
}
.myBox {
  width: 85%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  margin-right: 10PX;
  background-color: #f9f9f9;
}
.buttonIs {
  padding: 9px 30px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #22926d;
  color: #fff;
  cursor: pointer;
}

.buttonIs:hover {
  background-color: #2c8d66;
}

.buttonIs:focus {
  outline: none;
  box-shadow: 0 0 5px #007bff;
}
.myBox:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px #007bff;
}

.myBox::placeholder {
  color: #aaa;
}
.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
  display: flex;
}

.chatBox {
  flex: 5.5;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 70%;
  height: auto;
  padding: 10px;
  margin-bottom: 1px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
}

.chatOnline {
  flex: 3;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 100%;
}

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
}

